{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "components": "./src/components",
          "Pages": "./src/Pages",
          "assets": "./src/assets",
          "types": "./src/types",
          "utils": "./src/utils",
          "context": "./src/context",
          "hooks": "./src/hooks",
          "reducers": "./src/reducers"
        }
      }
    ],
    "@babel/plugin-transform-runtime"
  ]
}
